header{
    margin-bottom: 15vh;
}


.text{
    width: 65%;
    margin-bottom: 100px;
}
img{
    width: 250px;
    height: auto;
}

.separation{
    height: 450px;
    width: 2px;
    background-color: #9846FF;
}


.componsent{
    display: flex;
    justify-content:space-between;
}

footer{
    position: relative;
}

.mail{
    display: flex;
}
.numero{
    display: flex;
}
.link{
    display: flex;
}