@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}



.p-lien, a h3,.p-lien-mention{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}
.p-lien::before, a h3::before, .p-lien-mention::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--blue);
    transition: width 0.3s ease; 
}

.p-lien:hover::before, a h3:hover::before, .p-lien-mention:hover::before {
    width: 100%;
}

.link-actif:before{
    width: 100%;
}
.link-actif{
    text-shadow: 0px 0px 7.1px #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
}

a{
    color: #FFF;
    transition: 0.2s;
}

a:hover{
    text-shadow: 0px 0px 7.1px #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    }



    @media screen and (max-width: 825px) {
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 36px;
        }
        .p-lien::before{
            width: 100%;
        }
    }