.projet-list {
    padding-left: 10px;
    border: 2px solid transparent;
    /* Définissez la bordure sur transparent */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0 0 20px var(--rose),
        0 0 30px var(--rose) inset;
    outline: 2px solid var(--rose);
}

.espacement-projet-list-v {
    margin-top: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.projet-list img {
    border-radius: 0px 20px 20px 0px;
    height: 330px;
}

.title-explication {
    width: 60%;
}

.bottom-projet-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
}

.buton-project {
    background-color: black;
    border-radius: 27px;
    border: 3px solid #FFF;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
}


@media screen and (max-width: 1110px) {
    .title-explication {
        width: 80%;
    }
}
@media screen and (max-width: 930px) {
    .title-explication {
        width: 100%;
    }
}

@media screen and (max-width: 824px) {
    .projet-list {
        flex-direction: column-reverse;
    }

    .title-explication {
        width: 100%;
    }
    .projet-list img {
        border-radius: 20px 20px 0px 0px;
        height: auto;
        margin-left: -10px;
    }
    .bottom-projet-list{
        margin-top: 10px;
    }
}
