.contenaire-propos-text-paragraph {
    display: flex;
    margin-top: 100px;
}

.contenaire-propos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenaire-propos-titre {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.contenaire-propos-titre img {
    margin-top: 50px;
    height: auto;
    width: 40px;
}


@media screen and (max-width: 750px) {}


/* CAROUSELLE */

.container-home-carousel {
    position: relative;

}

.carousel {
    width: calc(100% - 120px);
    margin-left: 60px;
    display: flex;
    transition: transform 0.5s ease;

}

.carousel-slide-content {

    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px var(--rose),
        0 0 30px var(--rose) inset;
    outline: 2px solid var(--rose);
    height: fit-content;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 100%;
    transition: transform 0.5s ease;
    transform: scale(0.9);
}

.slide-content-col {
    display: flex;
    flex-direction: column;
    display: inline-flex;
    justify-content: space-between;
    padding: 40px;
}

.carousel-slide-content-text {
    width: 100%;

}

.bottom-slide-content-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.control {
    width: 100%;
}




.carousel-slide img {
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    display: block;

}

.carousel-dots {

    text-align: center;
    margin-top: 20px;
    
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: var(--purpul);
}

.prev {
    z-index: 2;
    left: 0;
}

.next {
    z-index: 2;
    right: 0;
}

.prev img,
.next img {
    width: 36px;
    height: auto;
}

.tag{
text-align: right;
}

@media screen and (max-width: 940px) {

    .carousel-slide-content-text {
    margin-bottom: 20px;
    }

    .carousel-slide img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        display: block;
    
    }

    .carousel-slide-content {
        flex-direction: column;
    }

    .prev {
        left: 30px;
    }

    .next {
        right: 30px;
    }

    .prev img,
    .next img {
        width: 30px;
        height: auto;
    }

    .control {
        position: relative;
        bottom: 0;
        margin-top: 40px;
        width: 100%;
    }

    .carousel {
        width: 100%;
        margin-left: 0px;
        display: flex;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

    .carousel-slide img {
        margin-left: 0%;
        max-width: 100%;
    }

    .carousel-dots{
        margin-top: 0px;
        transform: translateY(-10px);
    }
}